{{ form_start(form) }}
    
    {{ form_widget(form.noms, {'class': 'custom-file-input'}) }}
    
    <div class="text-right mt-4">
    <button class="btn btn-outline-light">{{ button_label|default('AJOUTER') }}</button>
    </div>
{{ form_end(form) }}
