{% extends 'base.html.twig' %}

{% block title %}Edit HistoriqueLocations{% endblock %}

{% block body %}
    <h1>Edit HistoriqueLocations</h1>

    {{ include('historique_locations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('historique_locations_index') }}">back to list</a>

    {{ include('historique_locations/_delete_form.html.twig') }}
{% endblock %}
